process {

    withName: PARACLU_PREPARE {
        ext.cmd1 = 'awk \'{OFS = "\t"}{print \$1, \$6, \$2+1, \$5}\' | sort -k1,1 -k2,2 -k3,3n'
        ext.suffix = ''
        ext.ext = 'bed'
    }

    withName: PARACLU_CONVERT {
        ext.cmd1 = 'awk \'{OFS = "\t"}{print \$1, \$3-1, \$4, ".", \$6, \$2}\' | sort -k1,1 -k2,2n'
        ext.suffix = '.neg'
        ext.ext = 'bed'
    }

}
