params {
    publish_dir_mode = 'copy'
    star_index                 = null
    bowtie2_index              = null
    fasta_fai                  = null
    filtered_gtf               = null
    chrom_sizes                = null
    smrna_fasta_fai            = null
    smrna_chrom_sizes          = null
    longest_transcript         = null
    longest_transcript_fai     = null
    longest_transcript_gtf     = null
    seg_gtf                    = null
    seg_filt_gtf               = null
    seg_resolved_gtf           = null
    seg_resolved_gtf_genic     = null
    regions_gtf                = null
    regions_filt_gtf           = null
    regions_resolved_gtf       = null
    regions_resolved_gtf_genic = null
}

process{
    withName: 'UNTAR_.*' {
        ext.args2 = '--no-same-owner'
    }
    withName: 'REMOVE_GTF_BRACKETS' {
        ext.cmd1 = "sed 's/)/_/g' | sed 's/(/_/g'"
        ext.ext = 'gtf'
        ext.suffix = '_bracketsremoved'
    }
}