/*
 * ---------------------------------------------------
 *  Nextflow config file for deciding which parts of
 *  the pipeline will run
 * ---------------------------------------------------
 */

// Defaults
params {
    run_genome_prep         = true
    run_input_check         = true
    run_move_umi_to_header  = false
    run_trim_galore_fastqc  = true
    run_alignment           = true
    run_read_filter         = true
    run_umi_dedup           = true
    run_calc_crosslinks     = true
    run_peak_calling        = true
    run_reporting           = true
    // Additional logic
    run_pairwise_input_check  = false
    run_whole_read_analysis       = false
}

// Set other logic
if(params.move_umi_to_header) { params.run_move_umi_to_header = true }
if(params.skip_umi_dedupe)    { params.run_umi_dedup = false         }

// Set whole read analysis logic
if(params.whole_read_analysis) {
    params.run_calc_crosslinks       = false
    params.run_pairwise_input_check  = true
    params.run_whole_read_analysis   = true
    params.run_peak_calling          = false
    params.run_reporting             = false
}

// Set only logic
if(params.only_input) {
    params.run_genome_prep        = false
    params.run_trim_galore_fastqc = false
    params.run_alignment          = false
    params.run_read_filter        = false
    params.run_umi_dedup          = false
    params.run_calc_crosslinks    = false
    params.run_peak_calling       = false
    params.run_reporting          = false
}

if(params.only_genome) {
    params.run_input_check        = false
    params.run_trim_galore_fastqc = false
    params.run_alignment          = false
    params.run_read_filter        = false
    params.run_umi_dedup          = false
    params.run_calc_crosslinks    = false
    params.run_peak_calling       = false
    params.run_reporting          = false
}

if(params.only_moveumitoheader) {
    params.run_move_umi_to_header  = true
    params.run_genome_prep         = false
    params.run_trim_galore_fastqc  = false
    params.run_alignment           = false
    params.run_read_filter         = false
    params.run_umi_dedup           = false
    params.run_calc_crosslinks     = false
    params.run_peak_calling        = false
    params.run_reporting           = false
}

if(params.only_trimming) {
    params.run_alignment          = false
    params.run_read_filter        = false
    params.run_umi_dedup          = false
    params.run_calc_crosslinks    = false
    params.run_peak_calling       = false
    params.run_reporting          = false
}

if(params.only_alignment) {
    params.run_read_filter        = false
    params.run_umi_dedup          = false
    params.run_calc_crosslinks    = false
    params.run_peak_calling       = false
    params.run_reporting          = false
}

if(params.only_filtering) {
    params.run_umi_dedup          = false
    params.run_calc_crosslinks    = false
    params.run_peak_calling       = false
    params.run_reporting          = false
}

if(params.only_dedup) {
    params.run_calc_crosslinks    = false
    params.run_peak_calling       = false
    params.run_reporting          = false
}

if(params.only_crosslinks) {
    params.run_peak_calling       = false
    params.run_reporting          = false
}

if(params.only_peakcalling) {
    params.run_reporting          = false
}
