/*
 * ---------------------------------------------------
 *  Nextflow config file for deciding which parts of
 *  the pipeline will run
 * ---------------------------------------------------
 */

// Defaults
params {
    run_genome_prep        = true
    run_input_check        = true
    run_trim_galore_fastqc = true

    // run_alignment          = true
    // run_read_filter        = true
}

// if(params.skip_removeduplicates || !params.run_mark_dups) { params.run_remove_dups        = false }
// if(params.skip_preseq)                                    { params.run_preseq             = false }
// if(params.skip_heatmaps)                                  { params.run_deeptools_heatmaps = false }
// if(params.skip_dt_qc)                                     { params.run_deeptools_qc       = false }
// if(params.skip_peak_qc)                                   { params.run_peak_qc            = false }
// if(params.skip_igv)                                       { params.run_igv                = false }
// if(params.skip_reporting) {
//     params.run_reporting     = false
//     params.run_preseq        = false
//     params.run_multiqc       = false
// }

if(params.only_input) {
    params.run_genome_prep = false
}

if(params.only_genome) {
    params.run_input_check = false
}

if(params.only_trimming) {
    // params.run_genome_prep = true
    // params.run_input_check = true
}
