/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.
        nextflow run {{ name }} -profile test,<docker/singularity>
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    samplesheet = './tests/data/samplesheets/small-dual-sample-se.csv'
    fasta       = './tests/data/genome/homosapien-hg37-chr21.fa.gz'
    smrna_fasta = './tests/data/genome/homosapiens_smallRNA.fa.gz'
    gtf         = './tests/data/genome/gencode.v35.chr21.gtf.gz'
}
